h1{
    text-align: center;

}

p{
    margin: 0.25in;
    border: 0.25in solid black;
    padding: 0.25in;
    background:url(images/bond-paper.jpg);
}
body{
    background: url(images/bricks.jpg)
}

.banner{
    background: url(images/board.jpg) repeat-x;
    font-size: 50pt;
    font-family: Arial;
}