.header {
    background-color: red;
    width: 100%;
    height: 50px;
    padding: auto;
}

.sidebar{
    background-color: blue;
    float: left;
    height: 600px;
    width: 20%;
}

.content{
    background-color: green;
    float:left;
    height: 600px;
    width: 80%
}

.footer {
    background-color: red;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 20px;
    color: #A5A5A5
}